* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  background: steelblue;
  color: #fff;
  border: skyblue 5px solid;
  padding: 20px;
  font-size: 20px;
  line-height: 1.6em;
}

.container {
  max-width: 960px;
  margin: 100px auto;
  display: grid;
  padding: 10px;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, 
  minmax(200px, 1fr));
  gap: 10px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }
}